version: "3.9"

services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app:Z
    environment:
      NODE_ENV: production
  dev:
    build: .
    command: npm run develop
    ports:
      - "3000:3000"
    volumes:
      - .:/app:Z
      - /app/node_modules
    environment:
      NODE_ENV: development
