@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
  font-family: 'Ubuntu Mono', monospace;
}

.font-bebas {
  font-family: 'Bebas Neue', cursive;
}

.smooth {
  transition: all .1s ease-in-out;
}
